* {
  margin: 0px;
  padding: 0px;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
}

.Header-Section {
  background-color: rgb(3, 0, 6);
  padding-bottom: 75px;
  padding-top: 25px;
}

.Header-Section > .First-Section-Container > .Title-Image > img {
  width: 250px;
  height: 150px;
}

.Header-Section > .First-Section-Container {
  display: flex;
  justify-content: flex-start;
  /*border-color: aqua; */
  /*border-style: dashed; */
  padding-left: 155px;
  padding-right: 155px;
  padding-top: 5px;
  padding-bottom: 55px;
}

.Header-Section > .First-Section-Container > .links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link-Color {
  color: greenyellow;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
}

.Header-Section > .First-Section-Container > .Title-Image {
  margin-right: auto;
}

.Header-Section > .Second-Section-Container {
  display: flex;
  justify-content: space-between;

  /*border-color: aqua; */
  border-style: dashed;
  padding-left: 155px;
  padding-right: 155px;
}

.Header-Section > .Second-Section-Container > .left-side {
  width: 420px;
}

.Header-Section > .Second-Section-Container > .left-side > button {
  width: 125px;
}

.Header-Section > .Second-Section-Container > .left-side > h1 {
  color: greenyellow;
  margin-bottom: 25px;
  font-size: 60px;
}

.Header-Section > .Second-Section-Container > .left-side > p {
  color: greenyellow;
  margin-bottom: 25px;
}
.Header-Section > .Second-Section-Container > .left-side > button {
  background-color: greenyellow;
  color: rgb(0, 0, 0);
}

.Header-Section > .Second-Section-Container > .right-side {
  padding-bottom: 15px;
  padding-left: 2px;
}

.Header-Section > .Second-Section-Container > .right-side > img {
  width: 500px;
  height: 345px;
}
.Matrix-Characters {
  padding-top: 25px;
  padding-left: 155px;
  padding-right: 155px;
  background-color: greenyellow;
}

.Matrix-Characters > h1 {
  padding-top: 25px;
  text-align: center;
}

.Matrix-Characters > .Character-Container {
  padding-top: 25px;
  padding-bottom: 85px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.Matrix-Characters > .Character-Container > div > p {
  text-align: center;
}

.Quote-Container {
  padding-left: 155px;
  padding-top: 75px;
  padding-right: 155px;
  padding-bottom: 75px;
  background-color: #e5e7eb;
}

.Quote-Container > .Third-Section {
  display: flex;
  justify-content: center;
  padding-left: 180px;
  padding-right: 180px;
}

.Quote-Container > .Third-Section > p {
  text-align: center;

  font-size: 20px;
  font-family: "light italic";
}

.Quote-Container > .Quote-By {
  display: flex;
  justify-content: flex-end;
  padding-right: 180px;
}

.Quote-Container > .Quote-By > p {
  font-size: 303px;
}

.Fourth-Section {
  padding-left: 180px;
  padding-right: 180px;

  padding-top: 75px;
  padding-bottom: 75px;
}

.Fourth-Section > .Fourth-Container {
  padding-top: 5px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.Fourth-Section > .Fourth-Container > .buttons-Section {
  padding-top: 15px;
}

.Fourth-Section > .Fourth-Container > .buttons-Section > button {
  width: 35px;
  height: 100px;
  margin-left: 35px;
  border-radius: 36px;
}

.Fourth-Section > .Fourth-Container > .buttons-Section > .red-pill {
  background-color: red;
}

.Fourth-Section > .Fourth-Container > .buttons-Section > .blue-pill {
  background-color: blue;
}

.Fourth-Section > .Fourth-Container > div > h1 {
  color: greenyellow;
}

.Fourth-Section > .Fourth-Container > div > p {
  background-color: black;
  color: white;
}

footer {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: rgb(3, 0, 6);
}

footer > p {
  text-align: center;
  color: greenyellow;
}
